@model List<ToDoItem>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th>Title</th>
                <th>Category Name</th>
                <th>Due Date</th>
                <th>Completed Date</th>
            </tr>

            @foreach (ToDoItem item in Model)
            {
                <tr class="@(item.IsOverdue ? "table-danger" : "")">
                    <td>@item.Title</td>
                    <td>@item.CategoryName</td>
                    <td>@item.DueDate.ToShortDateString()</td>
                    <td>
                        @(item.CompletedDate.HasValue ? item.CompletedDate.Value.ToShortDateString() : "N/A")
                    </td>
                </tr>
            }
        </table>
    </div>
</div>